* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    align-items: center;
    width: 100%;
    margin: 0;
    background-color: #737ef5;

}

.mybuttons {
    background-color: #c971bf;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    color: white;
    border: #b356a8;
    border-style: inset;
    border-width: 2px;
    border-radius: 5px;
    font-size: 18px;
    width: 40px;
    height: 35px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.mybuttons:active {
    background-color: #e1a7db;
}

input {
    background-color: #3f3770;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    border: #353e9c;
    border-style: double;
    border-width: 2px;
    color: white;
    font-size: 25px;
    width: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 54px;
    border: 1px solid #3f3770;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
}

h1 {
    font-style: italic;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: white;
    font-size: 50px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    margin-top: 10%;
    text-align: center;
}

#buttons {
    background-color: #885ad6;
    border: #885ad6;
    padding: 10px;
    width: 217px;
    border-radius: 10%;
}

#Calculator {
    background-color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 10%;
    text-align: center
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px;
        margin-top: 20px;
    }

    input {
        width: 180px;
        font-size: 22px;
    }

    #buttons {
        width: 190px;
    }
}
