body {
    background-color: #737ef5 !important;
    margin: 0; /* Reset margins for mobile */
    padding: 20px; /* Add small padding so content doesn't hit the edges */
}

#Calculator {
    background-color: white;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%; /* Take up most of the screen on mobile */
    max-width: 320px; /* But don't get too huge */
    border-radius: 20px;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 32px; /* Smaller font for phones */
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
    text-align: center;
    margin-top: 10%;
}

@media screen and (min-width: 768px) {
    body {
        margin-left: 200px;
        margin-right: 200px;
    }
    
    #Calculator {
        width: 30%; /* Return to original desktop width */
    }

    h1 {
        font-size: 50px; /* Larger font for desktop */
    }
}

.mybuttons {
    background-color: #c971bf;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    border: 2px inset #b356a8;
    border-radius: 5px;
    font-size: 18px;
    width: 40px;
    height: 35px;
    text-align: center;
}
input {
    background-color: #3f3770;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    width: 90%; /* Make input fill the calculator container */
    max-width: 210px;
    height: 54px;
    border: 1px solid #3f3770;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
    margin: 5px auto;
}
#buttons {
    background-color: #885ad6;
    padding: 10px;
    width: 217px;
    border-radius: 10%;
}
