body {
    background-color: #737ef5;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.mybuttons {
    background-color: #c971bf;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    color: white;
    border: #b356a8;
    border-style: inset;
    border-width: 2px;
    border-radius: 5px;
    font-size: 18px;
    width: 40px;
    height: 35px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
}

.mybuttons:active {
    background-color: #e1a7db;
}

input {
    background-color: #3f3770;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    border: #353e9c;
    border-style: double;
    border-width: 2px;
    color: white;
    font-size: 25px;
    width: 210px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 54px;
    border: 1px solid #3f3770;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
}

h1 {
    font-style: italic;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: white;
    font-size: 50px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    display: inline-block;
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 10%
}

#buttons {
    background-color: #885ad6;
    border: #885ad6;
    padding: 10px;
    width: 217px;
    border-radius: 10%;
}

#Calculator {
  width: 95%;
  max-width: 400px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}
