body {
    background-color: #737ef5 !important;
    margin-left: 200px;
    margin-right: 200px;
}

.mybuttons {
    background-color: #c971bf;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    color: white;
    border: #b356a8;
    border-style: inset;
    border-width: 2px;
    border-radius: 5px;
    font-size: 18px;
    width: 40px;
    height: 35px;
    text-align: center;
}

.mybuttons:active {
    background-color: #e1a7db;
}

input {
    background-color: #3f3770;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    border: #353e9c;
    border-style: double;
    border-width: 2px;
    color: white;
    font-size: 25px;
    width: 210px;
    margin-top: 5px;
    margin-bottom:0px;
    margin-left: 7px;
    margin-right: 7px;
    height: 54px;
    border: 1px solid #3f3770;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
}

h1 {
    font-style: italic;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: white;
    font-size: 50px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    display: inline-block;
    text-align:center;
    margin-left: 20px;
    margin-top: 10%
}

#buttons {
    background-color: #885ad6;
    border: #885ad6;
    padding: 10px;
    width: 217px;
    border-radius: 10%;
    margin-top: 0px;
    border-width: 0px;
}

#Calculator {
    background-color: white;
    border: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin: 0 auto;
    width: 50%;
    border-radius: 20px;
}
