  body {
            background-color: #737ef5 !important;
            margin: 0;
            padding-right: 20px;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
            margin-left: 15px;
            margin-bottom:0%;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: clamp(50px, 6vw, 50px);
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
    text-align: center;
    margin-top: 20px;
    width: fit-content;
}
#Calculator {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 90%;
    max-width: 320px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom:0%;
}
input {
    background-color: #3f3770;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    border: 1px solid #3f3770;
    border-radius: 8px;
    outline: none;
    padding-left: 15px;
    margin-bottom: 0px;
}
#buttons {
    background-color: #885ad6;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}
.mybuttons {
    background-color: #c971bf;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    border: 2px inset #b356a8;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    aspect-ratio: 2 / 1.1;
    cursor: pointer`;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mybuttons:active {
    background-color: #e1a7db;
}
@media screen and (min-width: 768px) {
    body {
        padding: 40px 200px;
    }
    #Calculator {
        width: 35%;
    }
}
